.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .logoimg,.iconsimg  {
    width: 50px;
  }
  
  .label a {
    color: white;
    text-decoration: none;
    margin: 20px;
  }
  
  .search-bar {
    flex-grow: 1;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-container input[type="text"] {
    width: 35%;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left:155px;
    
  }
  
  .search-container input[type="text"]:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
  }
  
  .icons a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .logout {
    color: white;
    text-decoration: none;
  }


  .drop{
    margin-top:15px;
  }
  