/* Body styling */
.body {
  background: black;
  color: white;
}

/* News container styling */
.news-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  margin: 0px 20px;
}

/* Card styling */
.news-card {
  flex: 0 0 300px;
  margin: 10px;
  border: 3px solid;
  padding: 20px;
  box-shadow: 0px 0px 9px #FAEBD7;
  border-radius: 7px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Image styling */
.news-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/* Title styling */
.news-card h2 {
  font-size: 1.5rem;
}

/* Button container styling */
.button-container {
  display: flex;
  justify-content: space-between;
}

/* Button styling */
.news-card button {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  
}

/* Hover effect for buttons */
.news-card button:hover {
  background-color: #0056b3;
}
